.select2-selection__choice{
    background-color:#1b2d1f !important;
}
.select2-selection__choice__remove{
    border-right: 0px !important;
}

.select2-selection__rendered{
    line-height: normal !important;
}
.alert-danger {
    padding: 4px 6px;
    margin-top: 10px;
}

